<!DOCTYPE html>
<html>
   
   <head>
      <title>Maya Kreidieh</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
   </head>
      
   <body>
      <script src = '/javascripts/jquery.js'></script>

  <!--     <nav id='main-navbar'>
         <ul>
            <li> <a href='/projects'> WORK </a>  <span class='open'>+ </span>

               <ul id='projects-nav'>
                  <% for (var i=0;i<projects.projects_overview.length;i++) { %>
                  <a href='/projects/<%=projects.projects_overview[i].url%>'> <li> <%= projects.projects_overview[i].name %></li>
                  <% } %> 
               </ul>

            </li> </a>
            <li>  <a href='/play'> PLAY </a>   <span class='open'>-</span>

               <ul id='play-nav'>
                  <% for (var i=0;i<projects.play_overview.length;i++) { %>
                  <a href='/play/<%=projects.play_overview[i].url%>'> <li> <%= projects.play_overview[i].name %></li>
                  <% } %> 
               </ul>

            </li> </a>
            <li> BLOG </li>
            <a href='/about'> <li> ABOUT </li> </a>
         </ul>
      </nav> -->

      <script type='javascript'>

         $('#open').on('click', function(){
            
         });

      </script>

      <%- body %>
   </body>

</html>