<!DOCTYPE html>
<html>
   
   <head>
      <title>Maya Kreidieh</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

   </head>
      
   <body>
      <script src = '/javascripts/jquery.js'></script>

      <nav id='main-navbar'>
         <ul>
            <li class='nav-li'> MAYA KREIDIEH</li>
            <li class='nav-li'> <i class="fa fa-envelope fa-x"></i> </li>
            <li class='nav-li'> <i class="fa fa-linkedin-square fa-x"></i> </li>
            <li class='nav-li'> <i class="fa fa-twitter fa-x"></i> </li>
            <li class='nav-li'> <i class="fa fa-github fa-x"></i> </li>

         </ul>
      </nav> 

      <script type='javascript'>

         $('#open').on('click', function(){
            
         });

      </script>

      <%- body %>
   </body>

</html>


<!--

            <li class='nav-li'> <a href='/projects fa-x'> WORK </a>  
            <span class='open'>+ </span>

               <ul id='projects-nav'>
                  <% for (var i=0;i<projects.projects_overview.length;i++) { %>
                  <a href='/projects/<%=projects.projects_overview[i].url%>'> <li class='nav-li'> <%= projects.projects_overview[i].name %></li>
                  <% } %> 
               </ul>
            </li> </a>
            <li class='nav-li'>  <a href='/play'> PLAY </a>  
            <!-- <span class='open'>-</span>

               <ul id='play-nav'>
                  <% for (var i=0;i<projects.play_overview.length;i++) { %>
                  <a href='/play/<%=projects.play_overview[i].url%>'> <li class='nav-li'> <%= projects.play_overview[i].name %></li>
                  <% } %> 
               </ul>
            </li> </a>
            <li class='nav-li'> BLOG </li>
            <a href='/about'> <li class='nav-li'> ABOUT </li> </a>

-->