
<% layout('layout') -%>

<div id='hhero'  >
		<div  class='square pix-img'>

	<% for (var i=1;i<5;i++) {%>
		<img id = 'img<%=i%>' class='pix-img2' src='/images/pixelateme/pix<%= i %>.jpg' style='width:100%;height:auto;padding:0;margin:0; display:none;position:absolute;top:0;left:0;'>
	<%}%>
	</div>
	<img id = 'img<%=i+1%>' src ='/images/pixelateme/pixme1.jpg' style='height:auto;width:90%; margin:5%;padding:0px;'>
	<img id = 'img<%=i+1%>' src ='/images/pixelateme/pixme2.jpg' style='height:auto;width:90%; margin:5%;padding:0px;'>


</div>

<div id='text'>

	<div id='text-inner'>
		
		<h1> <%= title %> </h1>
		<h2> <%= tagline %> </h2>


		<div id='summary'>


		<!-- DISPLAY DATE -->
			<span id='sec'>
				<div id='sub-sec'>
				<p id='label'> DATE  </p>
				<span><%=summary.date%> </span>
				</span>
				</div>
				<br>
			</span>
			

			<span id='sec'>

			<!-- DISPLAY METHOD -->
			<% if (summary.methods != undefined ) { %>
				<div id='sub-sec'>
					<p id='label'> METHOD </p> 
					<% for(var i=0;i<summary.methods.length;i++) { %>
						 <p id='sub-sum'> <%=summary.methods[i]%> </p>
					<% } %>
				</div>
			<% } %>

			<!-- DISPLAY TECHNOLOGY -->
			<% if (summary.technology != undefined ) { %>
				<div id='sub-sec'>
					<p id='label'> TECHNOLOGY </p>
					<% for(var i=0;i<summary.technology.length;i++) { %> 
						 <p id='sub-sum'> <%=summary.technology[i]%> </p>
					<% } %>
				</div>
			<% } %>

			<% if (summary.clients != undefined ) { %>
				<div id='sub-sec'>
					<p id='label'> CLIENT </p> 
					<% for(var i=0;i<summary.clients.length;i+=2) { %>
						 <p id='sub-sum' > <a href = <%=summary.clients[i+1]%> > <%=summary.clients[i]%> </a> </p>
					<% } %>
				</div>
			<% } %>

		</span>

				<% if (summary.team != undefined || summary.awards != undefined ) { %>
					<span id='sec'>
						<% if (summary.team != undefined  ) { %>
						<div id='sub-sec'>
							<p id='label'> TEAM </p> 
							<% for(var i=0;i<summary.team.length;i++) { %>
								 <p id='sub-sum'> <%=summary.team[i]%> </p>
							<% } %>
							<p id='label'> ROLE  </p>
								<span><%=summary.role%> </span>
						</div>

					<% } %>

					<% if (summary.awards != undefined ) { %>
						<div id='sub-sec'>
							<p id='label'> AWARDS </p>
							<% for(var i=0;i<summary.awards.length;i++) { %> 
								 <p id='sub-sum'> <%=summary.awards[i]%> </p>
							<% } %>
						</div>
					<%}%>
					</span> 

				<% } %>
			</span>
		</div>
	</div>
	<div id='caption'> <%=captions[0].txt%> </div>

</div>



<script>


// Animate image gallery
t = 0;
$('#img1').css({'display':'block'});
setInterval(function() {
	$('.pix-img2').fadeOut();//css({'display':'none'});
	$('#img'+(t+1)).fadeIn();//css({'display':'block'});
		t = (t+1)%4;

      // Do something every 2 seconds
}, 1000);


$('.square').css({'width': $('.square').height()});
	// Get total number of captions
	var captions = <%- JSON.stringify(captions) %>;

	// On window scroll, if an image's top offset is into 1/2 the image
	// Set #label to the corresponding caption
	$(window).scroll( function(){

		for (var i=0;i<captions.length;i++){
			
			var img = $('#img' + (captions[i].index-1) );
			var txt = captions[i].txt;
		 	
		 	//console.log('checking '+i +' : offset: ' + (im).offset().top + " , height : " + (3*$(window).height()/4+$(window).scrollTop()) );
		 	if ( (img).offset().top < 2*$(window).height()/4+$(window).scrollTop() )
			$('#caption').html(txt);
		}
	});
</script>
