
<% layout('layout') -%>


    <ul id='projects-grid'>
	    	<h1> <%=title%> </h1>

	    <% for(var i=0;i<projects_list.length;i++){ %>

	    	<% if (title == 'Projects') { %>
	    	<a href = '/projects/<%=projects_list[i].url%>'>
	    	<% } if ( title=='Play') { %>
	    	<a href = '/play/<%=projects_list[i].url%>'>
	    	<% } %>
	    	<li class='project-li'>
	    		<% if(projects_list[i].img != undefined ) { %>
	    		<img src='/images/<%=projects_list[i].img%>'>
	    		<% } %>
	    		<div class='overlay'>
	    			
	    			<div id='t'> <%=projects_list[i].name%> </div>

	    		</div>
	    	</li>
	    	</a>
	    <% } %>

	</ul>
   
