

	<h1 id='projects-title'> Experiments in Data, Code and Design </h1>


    <ul id='projects-grid'>


    	<div id='projects_subcat'>

    	<div id='p-label'>
    		<h1>DATA<br>& DEV</h1>
    		<h2>Data acquisition semantics and visualizations</h2> 
    	</div>

    	<div id='projects_sublist'>

    	<% widths = [44, 26.5,26.5,29,29,39,29,39,29,39,59,49,49]; %>
    	<% widths = [32, 32, 32 ,32,32,32,32,32,32,32,32,99,99]; %>
    	<% for(var i=0;i<widths.length;i++) widths[i]-=1; %>
    	<% for (var i=0;i<3;i++) { %>
		<a class='p-li' id = '<%=projects_list[i].url%>' >

		    	<li style='margin:0px;'>
		    		<% if(projects_list[i].img != undefined ) { %>
		    		<div id='img' style='background-image:url("/images/<%=projects_list[i].img%>")'></div>
		    		<% } %>
		    		<div class='overlay'>	
		    			<div id='t'> <%=projects_list[i].name%> </div>
		    			<div id='sub-t'>Web Development | Computer Vision | Math</div>
		    		</div>
		    	</li>

	    	</a>
	    <% } %>

	    </div>

    	<div id='projects_sublist'>

    	<% for (var i=3;i<6;i++) { %>
		<a class='p-li' id = '<%=projects_list[i].url%>' >

		    	<li style='margin:0px;'>
		    		<% if(projects_list[i].img != undefined ) { %>
		    		<div id='img' style='background-image:url("/images/<%=projects_list[i].img%>")'></div>
		    		<% } %>
		    		<div class='overlay'>	
		    			<div id='t'> <%=projects_list[i].name%> </div>
		    		</div>
		    	</li>

	    	</a>
	    <% } %>

	    </div>


    	<div id='projects_sublist'>

    	<% for (var i=12;i<14;i++) { %>
		<a class='p-li' id = '<%=projects_list[i].url%>' >

		    	<li style='margin:0px;'>
		    		<% if(projects_list[i].img != undefined ) { %>
		    		<div id='img' style='background-image:url("/images/<%=projects_list[i].img%>")'></div>
		    		<% } %>
		    		<div class='overlay'>	
		    			<div id='t'> <%=projects_list[i].name%> </div>
		    		</div>
		    	</li>

	    	</a>
	    <% } %>

	    </div>
	    </div>

    	<div id='projects_subcat'>

    	<div id='p-label'>
    		<h1>ART &<br>DESIGN</h1>
    		<h2>Data acquisition semantics and visualizations</h2> 
    	</div>

    	<div id='projects_sublist'>

    	<% for (var i=6;i<9;i++) { %>
		<a class='p-li' id = '<%=projects_list[i].url%>' >

		    	<li style='margin:0px;'>
		    		<% if(projects_list[i].img != undefined ) { %>
		    		<div id='img' style='background-image:url("/images/<%=projects_list[i].img%>")'></div>
		    		<% } %>
		    		<div class='overlay'>	
		    			<div id='t'> <%=projects_list[i].name%> </div>
		    		</div>
		    	</li>

	    	</a>
	    <% } %>		
	
	    </div>


    
	    </div>

<div id='projects_subcat'>

    	<div id='p-label'>
    		<h1>OPEN CULTURE</h1>
    		<h2>Building platforms and communities around sharing</h2> 
    	</div>

    	<div id='projects_sublist'>


    	<% for (var i=11;i<12;i++) { %>
		<a class='p-li open'  id = '<%=projects_list[i].url%>' >

		    	<li style='margin:0px;'>
		    		<% if(projects_list[i].img != undefined ) { %>
		    		<div id='img' style='background-image:url("/images/<%=projects_list[i].img%>")'></div>
		    		<% } %>
		    		<div class='overlay'>	
		    			<div id='t'> <%=projects_list[i].name%> </div>
		    		</div>
		    	</li>

	    	</a>
	    <% } %>		
	    		


	    </div>

	</ul>
   
   <script type='text/javascript'> window.history.pushState("object or string", "Title", "/projects"); 

    		$('.p-li').on('click', function(){
            navTo = $(this)[0].id;
            $('#content').fadeOut(50).delay(00).empty();
            setTimeout(function() {
                $.get('/projects2/'+navTo, function(data) {     
                    $('#content').html(data).fadeIn(310);
                });
            }, 50);

    		})
	</script>

