
<% layout('layout') -%>

<div id='hhero' >
    <h1 id='title' > <%= title %> </h1>
</div>

<div id='text'>

	<div id='summary'>

		<p id='label'> DATE  </p>
		<span><%=summary.date%> </span>
		<br>
		<% if (summary.methods != undefined ) { %>
			<p id='label'> METHOD </p> 
			<% for(var i=0;i<summary.methods.length;i++) { %>
				 <p id='sub-sum'> <%=summary.methods[i]%> </p>
			<% } %>
		<% } %>

		<% if (summary.technology != undefined ) { %>
			<p id='label'> TECHNOLOGY </p>
			<% for(var i=0;i<summary.technology.length;i++) { %> 
				 <p id='sub-sum'> <%=summary.technology[i]%> </p>
			<% } %>
		<% } %>
	</div>

	<div id='description'>
	    <%= description %>
	 </div>

</div>

<div id='images'>
    <% for(var i=0; i<images.length; i++) {%>
    <img src=' <%= images[i] %>'>
<% } %>
</div>

