
<% layout('layout') -%>

<div id='hhero' >
		<img id = 'img0' class='square' src='/images/<%= images[0]%>' style=' border-radius:1px; height:95%; width:95%; margin:0% 5% 5% 0%;padding:0px;'>

	<% j = 0; %>
	<% for (var i=1;i<images.length;i++) {%>

		<% if (captions[j].index == i) { %>
			<p id='p-caption'> <%-captions[i].txt%> </p>
			<% j+=1; %>
		<% } %>

		<img id = 'img<%=i%>' class='square' src='/images/<%= images[i]%>' style=' border-radius:1px; height:auto; width:95%; margin:5% 5% 5% 0%;padding:0px;'>
	<%}%>
</div>

<!--
		<div id='caption'> <%=captions[0].txt%> </div>

-->
<div id='text'>

	<div id='text-inner'>
		
		<h1> <%= title %> </h1>

		<div id='text-content'>

		<div class='ti' id='ti0'>

		<h2> <%= tagline %> </h2>

		<div id='summary'>
		<!-- DISPLAY DATE -->
			<span id='sec'>
				<div id='sub-sec'>
				<p id='label'> DATE  </p>
						 <p id='sub-sum'> <%=summary.date%> </p>
				</span>
				</div>
				<br>
			</span>
			

			<span id='sec'>
				<!-- DISPLAY METHOD -->
				<% if (summary.methods != undefined ) { %>
					<div id='sub-sec'>
						<p id='label'> METHOD </p> 
						<% for(var i=0;i<summary.methods.length;i++) { %>
							 <p id='sub-sum'> <%=summary.methods[i]%> </p>
						<% } %>
					</div>
				<% } %>
			</span>

			<span id='sec'>
				<!-- DISPLAY TECHNOLOGY -->
				<% if (summary.technology != undefined ) { %>
					<div id='sub-sec'>
						<p id='label'> TECHNOLOGY </p>
						<% for(var i=0;i<summary.technology.length;i++) { %> 
							 <p id='sub-sum'> <%=summary.technology[i]%> </p>
						<% } %>
					</div>
				<% } %>
			</span>

			<span id='sec'>
				<% if (summary.clients != undefined ) { %>
					<div id='sub-sec'>
						<p id='label'> CLIENT </p> 
						<% for(var i=0;i<summary.clients.length;i+=2) { %>
							 <p id='sub-sum' > <a href = <%=summary.clients[i+1]%> > <%=summary.clients[i]%> </a> </p>
						<% } %>
					</div>
				<% } %>
			</span>

			<span id='sec'>
				<% if (summary.team != undefined || summary.awards != undefined ) { %>
					<span id='sec'>
						<% if (summary.team != undefined  ) { %>
						<div id='sub-sec'>
							<p id='label'> TEAM </p> 
							<% for(var i=0;i<summary.team.length;i++) { %>
								 <p id='sub-sum'> <%=summary.team[i]%> </p>
							<% } %>
							<p id='label'> ROLE  </p>
								<span><%=summary.role%> </span>
						</div>
				<% } %>

		</span>

								<span id='sec'>


					<% if (summary.awards != undefined ) { %>
						<div id='sub-sec'>
							<p id='label'> AWARDS </p>
							<% for(var i=0;i<summary.awards.length;i++) { %> 
								 <p id='sub-sum'> <%=summary.awards[i]%> </p>
							<% } %>
						</div>
					<%}%>
					</span> 

				<% } %>
			</span>
		</div>

	</div>

	</div>

</div>



<script>

	
	// // Get total number of captions
	// var captions = <%- JSON.stringify(captions) %>;

	// // On window scroll, if an image's top offset is into 1/2 the image
	// // Set #label to the corresponding caption
	// inc = +1;
	// var imgPos = []

	// var length = <%-captions.length %>
	// for (var t=0;t<length;t++){
	// 	imgPos[t] = 0;
	// }
	// $(window).scroll( function(){

	// 	// for (var i=0;i<captions.length;i++){
			
	// 		for (var i =0;i<length;i++){
	// 			var img = $( ('#img' + (captions[i].index) ) );
	// 			var txt = captions[i].txt;
	// 			console.log(img);
	// 	 		if ( $(img).offset().top < 2*$(window).height()/4+$(window).scrollTop() && imgPos[i]==0){ 
	// 				animate_caption_change(i);
	// 	 			imgPos[i]=1
	// 	 		}
	// 	 		 else if ( $(img).offset().top > 2*$(window).height()/4+$(window).scrollTop() && imgPos[i]==1){ 
	// 				animate_caption_change(i);
	// 	 			imgPos[i]=0
	// 	 		}
	// 	 		if ( $(img).offset().top < 2*$(window).height()/4+$(window).scrollTop() ){ 
	// 	 			imgPos[i]=1

	// 	 		}

	// 	if ( $(img).offset().top > 2*$(window).height()/4+$(window).scrollTop() ){ 
	// 	 			imgPos[i]=0

	// 	 		}

			
	// 		}
		
	// });

	// animate_caption_change = function (i){
	// 	$('.ti').css({'opacity':0});
	// 	$('#ti'+i).css({'opacity':1});
	// // 		$('.ti').fadeOut('200ms').animate({
	// //             'top': '-50px'
	// //             }, {duration: 'slow', queue: false}, function() {
	// //             // Animation complete.
	// //             this.css({'top':'50px'});
	// //         	});
	// // 	// $('#caption').html('');
	// // 		newCaption = $('#ti'+ (i) );
	// // $(newCaption).fadeIn('slow').animate({
	// //             'top': '00px'
	// //             }, {duration: 'slow', queue: false}, function() {
	// //             // Animation complete.
	// //         	});
	// }

</script>


