
<% layout('layout') -%>


<div id='text'>

	<div id='text-inner'>	
		<h1 id='ltitle'> <%= title %> </h1>
		<div id='text-content'>
			<div class='ti' id='ti0'>
				<h2> <%- tagline %> </h2>
				<div id='ldate'> <%=summary.date%> </div>


		<div id='summary'>
			<span id='sec'>
				<!-- DISPLAY METHOD -->
				<% if (summary.methods != undefined ) { %>
					<div id='sub-sec'>
						<p id='label'> METHOD </p> 
						<% for(var i=0;i<summary.methods.length;i++) { %>
							 <p id='sub-sum'> <%=summary.methods[i]%> </p>
						<% } %>
					</div>
				<% } %>
			</span>
			<span id='sec'>
				<!-- DISPLAY TECHNOLOGY -->
				<% if (summary.technology != undefined ) { %>
					<div id='sub-sec'>
						<p id='label'> TECHNOLOGY </p>
						<% for(var i=0;i<summary.technology.length;i++) { %> 
							 <p id='sub-sum'> <%=summary.technology[i]%> </p>
						<% } %>
					</div>
				<% } %>
			</span>
			<span id='sec'>
				<% if (summary.clients != undefined ) { %>
					<div id='sub-sec'>
						<p id='label'> CLIENT </p> 
						<% for(var i=0;i<summary.clients.length;i+=2) { %>
							 <p id='sub-sum' > <a href = <%=summary.clients[i+1]%> > <%=summary.clients[i]%> </a> </p>
						<% } %>
					</div>
				<% } %>
			</span>
			<span id='sec'>
				<% if (summary.team != undefined || summary.awards != undefined ) { %>
					<span id='sec'>
						<% if (summary.team != undefined  ) { %>
						<div id='sub-sec'>
							<p id='label'> TEAM </p> 
							<% for(var i=0;i<summary.team.length;i++) { %>
								 <p id='sub-sum'> <%=summary.team[i]%> </p>
							<% } %>
							<p id='label'> ROLE  </p>
								<span><%=summary.role%> </span>
						</div>
				<% } %>
			</span>
			<span id='sec'>
				<% if (summary.awards != undefined ) { %>
					<div id='sub-sec'>
						<p id='label'> AWARDS </p>
						<% for(var i=0;i<summary.awards.length;i++) { %> 
							 <p id='sub-sum'> <%=summary.awards[i]%> </p>
						<% } %>
					</div>
				<%}%>
			</span> 
				<% } %>
<!-- 			</span>
 -->	</div>

	</div>

</div>
</div>
</div>


<div id='hhero' >
	<div id='cover' class='square' style='background-image:url("/images/<%= images[0]%>")'>
	</div>
	<% j = 0; %>
	<% if (captions[j].index == 1) { %>
			<p id='p-caption'> <%-captions[j].txt%> </p>
			<% j+=1; %>
		<% } %>
	<% for (var i=1;i<images.length;i++) {%>
		<img id = 'pimg' src='/images/<%= images[i]%>' >
		<% if (j<captions.length && captions[j].index == (i+1) ) { %>
			<p id='p-caption'> <%-captions[j].txt%> </p>
			<% j+=1; %>
		<% } %>
	<%}%>
</div>

</div>
<script>


</script>


